/**
 * @Main scss for (banquee)
 * @project     - banquee
 * @author      - 
 * @created_by  - Md Afzal Hossain Patwary
 */

/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* fonts import -END */

/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: "DM Sans", sans-serif;
}

:root {
    --clr-dark: #1a191e;
    --clr-gray: #f8f8f8;
    --clr-gray2: #9A9A9D;
    --clr-dark-gray: #8c8c8f;
    --clr-gray-deep: rgba(26, 25, 30, 0.5);
    --clr-green: #5bb5a2;
    --clr-green-light: #e8f2ee;
    --clr-red-light: #f1dfdf;
}

/* reset, root - END */

/* customize, container */
.container {
    @media (min-width: 1400px) {
        max-width: 1200px;
    }
}
/* customize, container - END */

/* helper , base classes */
.text-clr-dark {
    color: var(--clr-dark);
}
.text-clr-gray {
    color: var(--clr-gray);
}
.text-clr-gray2 {
    color: var(--clr-gray2);
}
.text-clr-dark-gray {
    color: var(--clr-dark-gray);
}
.text-clr-gray-deep {
    color: var(--clr-gray-deep);
}
.text-clr-green {
    color: var(--clr-green);
}

.bg-clr-green {
    background-color: var(--clr-green);
}
.bg-clr-greenLight {
    background-color: var(--clr-green-light);
}
.bg-clr-redLight {
    background-color: var(--clr-red-light);
}
.bg-clr-gray {
    background-color: var(--clr-gray);
}

.fwMedium {
    font-weight: 500;
}
.fwSemiBold {
    font-weight: 600;
}
.ff-inter {
    font-family: "Inter", sans-serif;
}

.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-18 {
    font-size: 18px;
}
.fs-12 {
    font-size: 12px;
}

.fs-80 {
    font-size: 80px;
    @media (max-width: 991px) {
        font-size: 50px;
    }
}

.rounded-16 {
    border-radius: 16px;
}
.rounded-20 {
    border-radius: 20px;
}
.rounded-4 {
    border-radius: 4px;
}
.rounded-6 {
    border-radius: 6px;
}

.letterSpace {
    letter-spacing: -0.03em;
}

.section-padding {
    padding: 160px 0;
    @media (max-width: 991px) and (min-width:450px) {
        padding: 100px 0;
    }
    @media (max-width: 444px) and (min-width:300px)  {
        padding: 80px 0;
    }
}
.pb-160 {
    padding-bottom: 160px;
    @media (max-width: 991px) and (min-width:450px) {
        padding-bottom: 100px;
    }
    @media (max-width: 444px) and (min-width:300px) {
        padding-bottom: 80px;
    }
}
.pb-100 {
    padding-bottom: 100px;
    @media (max-width: 991px) {
        padding-bottom: 70px;
    }
}

.section-info {
    .section-title {
        font-size: 64px;
        line-height: 110%;
        margin-bottom: 30px;
        @media (max-width: 991px) and (min-width:450px) {
            font-size: 40px;
        }
        @media (max-width: 444px) and (min-width:300px) {
            font-size: 32px;
        }
    }
    .section-intro {
        font-weight: 500;
        font-size: 17.9551px;
        margin-bottom: 30px;
    }
}
/* helper , base classes  - END*/

// Header css
.header {
    .container {
        max-width: 1400px;
    }
    .navbar {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        background-color: #fff !important;
        // transition: 0.5s all linear !important;
        box-shadow: 0px 15px 36px rgba(0, 0, 0, 0.03);
        z-index: 9999;
        .navbar-toggler {
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        .nav-item {
            .nav-link {
                &:hover {
                    background-color: var(--clr-gray);
                    color: var(--clr-dark);
                }
                &.dropdown-toggle {
                    &::after {
                        border: 0;
                    }
                    &.show {
                        .drop-icon {
                            transform: rotate(180deg);
                        }
                    }
                }
                @media (max-width: 991px) {
                    display: inline-block;
                }
            }
        }
        .open-account-btn{
            transition: 0.2s all linear;
            &:hover {
                background-color: #8bc2b6 !important;
            }
        }
    }
}
.open-account-btn{
    transition: 0.2s all linear;
    &:hover {
        background-color: #8bc2b6 !important;
    }
}
// .stickyHeader {
  
// }
// Header style - End

// banner style
.banner-features {
    padding: 168px 0;
}
// banner style - End

//single-product style
.single-product {
    .product-img {
        width: 160px;
        height: 160px;
        line-height: 100px;
    }
}
.review-img{
    img{
        @media (max-width:450px) {
            max-width: 55%;
        }
    }
}
//single-product style - End

//single-product style
.transition-card {
    .cardIcon {
        width: 50px;
        height: 50px;
    }
}
//single-product style - End

//card - start
.choose-card {
    transition: 0.2s all linear;
    &:hover {
        background-color: #8bc2b6 !important;
    }
}
.contact-wrapper{
    a{
        transition: .2s all linear;
        &:hover{
            color: #8bc2b6 !important;
        }
    }
}
//card - end

//faq - start
.faq-wrapper {
    .faq-list-item {
        cursor: pointer;
        .faq-title {
            padding: 20px 0;
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: -0.03em;
            color: #1a191e;
            &.faq-border {
                border-top: 1px solid #e8e8e8;
            }
        }
        .faq-desc {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: rgba(26, 25, 30, 0.5);
        }
        .ni-cross {
            color: #5bb5a2;
            font-size: 16px;
        }
        .ni-plus {
            color: #5bb5a2;
            font-size: 16px;
        }
    }
}
//faq - end

//footer - start
.footer{
    a{
        text-decoration: none;
        transition: .2s all linear;
        &:hover{
            color: #8bc2b6 !important;
        }
    }
}
//footer - end
